{% extends 'layout.html' %}

{% block form %}
    <form class="loginCardWrapper" method="POST">
        <h1>Login Page</h1>
        <div class="inputWrapper"> 
            <i class="far fa-user"></i>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="inputWrapper">
            <i class="fas fa-user"></i>
            <input type="password" name="password" placeholder="password">
        </div>
        <button type="submit">Login</button>
        <br>
        <a href="{{url_for('register')}}"> New User Register</a>
    </form>        
{% endblock  %}