{% extends 'layout.html' %}

{% block form %}
    <form class="loginCardWrapper" method="POST" action='register'>
        <h1>Register Page</h1>
        <div class="inputWrapper"> 
            <i class="far fa-user"></i>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="inputWrapper"> 
            <i class="far fa-user"></i>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="inputWrapper"> 
            <i class="far fa-user"></i>
            <input type="text" name="mobile" placeholder="mobile">
        </div>
        <div class="inputWrapper">
            <i class="fas fa-user"></i>
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="inputWrapper">
            <i class="fas fa-user"></i>
            <input type="password" name="confirmpassword" placeholder="confirm password">
        </div>
        <button type="submut">Register</button>
        <br>
        <a href="{{url_for('login')}}">Already user Login</a>
    </form>        
{% endblock  %}